.App-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.521);
  width: 100%;
  height: 720px;
}
.container{
  background-color: whitesmoke;
  width: 520px;
  height: 720px;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 2px 3px 3px 2px;
  border: 2px solid black;
}

.head{
  font-size: 15px;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

p{
  font-size: medium;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card{
  width: 500px;
  height: 150px;
  background-color: rgba(47, 79, 79, 0.378);
  border-radius: 20px;
  border: 1px solid black;
}

.symbol{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  font-weight: 600;
}
#para{
  text-align: center;
}
.input{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.tt{
  position: relative;
  top: 15px;
}
.tt1{
  position: relative;
  top: 27px;
}
.bb{
  position: relative;
  top: 39px;
  background: grey;
}
.bb1{
  position: relative;
  top: 50px;
}